*{
  margin: 0;
  padding: 0;
  background-color: #1B1E28;
  color: white;
}

.left_container{
  height: 100%;
}
.left_container_btn{
  height: 10vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}
.left_container1{
  height: 45vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}
.left_container2{
  height: 40vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}

.right_container{
  height: 100%;
}

.right_container1{
  height: 50vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}
.right_container2{
  height: 75vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}

