
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: #1B1E28;
}
h1,h2,h3,h4,h5,i, .modal-title{
  color:#ffa50D;
}
.form-check-input{
  background-color: #ffa50D;
  cursor: pointer;
}
.btn, .form-check-input:checked{
  background-color: #ffa50D;
  transition: all 0.5s;
}
.left_container{
  height: 100%;
}
.left_container_btn{
  height: 10vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}
.left_container1{
  height: 58vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
  
}
#top-name{
  font-size: 26px;
  font-weight: 500;
  color: white;
}
#company-name{
  color: #555;
  font-size: 20px;
}
.text-uppercase{
  color: #ffa50D;
}
.col-sm-12{
  height: auto;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}

.right_container{
  height: 100%;
}

.right_container1{
  height: 60vh;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
}
.card{
  height: 45vh;
}
.form-check-label{
  font-size:14px;
}
.right_container2{
  height: Auto ;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22252F;
  
}
.inner_circle {
  height: 200px;
  width: 200px;
  background-color: #555;
  border-radius: 50%;
}
.btn {
  color:#1B1E28;
}
/*HOVER EFFECTS*/
.btn:hover{
  border: 1px solid #ffa50D;
  color: #ffa50D;
}
.form-check-input:ho{
  border: 1px solid #1B1E28;
}
/*MEDIA QUERY*/
@media (max-width:1024px) {
  .left_container{
    width: 100%;
    }
  .left_container1{
    height: auto;
    padding: 30px;
  }
  .col-sm-12 {
    padding: 1.2rem !important;
  }
  .right_container{
    width: auto;
    height: 515vh;
  }
  h5{
    font-size: 1.05rem;
  }
  .form-check-label{
    font-size: 12px;
  }
  .col-sm-4{
    width: auto;
  }
  .right_container1{
    height: auto;
    padding: 4% !important;
  }

}
@media(max-width:820px){
  
  .right_container{
    width: auto;
    height: 555vh;
  }
  .form-check-label{
    font-size: 12px;
  }
  .right_container1{
    height: auto;
    padding: 4% !important;
  }
}
@media(max-width:768px){
  
  .right_container{
    width: auto;
    height: 610vh;
    
  }
  
}
@media(max-width:480px){
  .container{
    visibility: hidden;
    height: 0;
  }
  .right_container{
    text-align: center;
    width: auto;
    height: auto;
    overflow: hidden;
    
  }
  .fw-light{
    margin-top: 10px;
  }
  
}
