*{
    margin: 0;
    padding: 0;
    background-color: #192131;
    color: white;
}

.left_container{
    height: 100%;
}
.left_container1{
    height: 70vh;
}

.profile{
    height: 70vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}
.earn_event{
    height: 70vh;
}

.earn{
    height: 20vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}
.announcement{
    height: 47vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}

.left_container2{
    height: 70vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}
.left_container3{
    height: 80vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}

.right_container{
    height: 100%;
}

.right_container1{
    height: 50vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}

.right_container2{
    height: 40vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}

.right_container3{
    height: 60vh;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #22252F;
}


